<div class="col-4 pr-0">
    <div class="input-group">
        <input type="text" class="form-control" id="videoLink" placeholder="Youtube Link">
        <div class="input-group-append">
            <button id="changeVideo" class="btn btn-light" type="button">Change Video</button>
        </div>
    </div>
</div>
<div class="col-2 pl-0">
    <div id="error"></div>
</div>