<div class="input-group">
    <input type="text" class="form-control" id="videoLink" placeholder="Youtube Link">
    <div class="input-group-append">
        <button id="changeVideo" class="btn btn-light" type="button">Change Video</button>
    </div>
</div>