<div id="controls">
    <div id="seek" class="progress mb-2">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="transition: none"></div>
    </div>
    <button id="play" class="btn btn-light overButtons" type="button" title="Play">
        <i id="playIcon" class="fas fa-play"></i>
    </button>
    <input type="range" class="form-control-range overButtons" id="volumeRange" value='100'>
    <button id="volume" class="btn btn-light overButtons" type="button" title="Volume Down">
        <i class="fas fa-volume-down"></i>
    </button>
    <div id="time" class="card" style="background-color: rgb(240, 240, 240)">
        <span><span id='curTime'>..</span> <strong>/</strong> <span id="totTime">..</span></span>
    </div>
    <button id="fullscreen" class="btn btn-light overButtons" type="button" title="Full Screen">
        <i class="fas fa-compress"></i>
    </button>
</div>