<div class="modal fade" id="confirmLeaveModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave Couch</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to leave this couch?
            </div>
            <div class="modal-footer">
                <button id="confrimLeaveYes" type="button" class="btn btn-light">Leave Couch</button>
                <button id="confrimLeaveClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>