<div class="container-fluid py-2 appbar">
    <div class="row">
        <div class="col-8 pr-0 my-auto">
            <%= render 'video_form'%>
        </div>
        <div class="col-4 px-2 mx-auto text-right">
            <%= render 'logo' %>
        </div>
    </div>
</div>