<div id="holder">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="player" class="embed-responsive-item"></div>
    </div>
    <div id="overlay"></div>
    <%= render 'controls' %>
</div>