<div class="input-group">
    <input id="videoLink" type="text" class="form-control" placeholder="Youtube Link" data-toggle="tooltip" data-placement="bottom" title="">
    <div class="input-group-append">
        <button id="changeVideo" class="btn btn-dark" type="button">Change Video</button>
        <button id="leaveRoom" class="btn btn-danger" type="button">Leave Couch</button>
    </div>
</div>