<div class="modal fade" id="joinRoomModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Couch</h5>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="joinRoomId" placeholder="Couch ID">
                    <input type="text" class="form-control" id="joinRoomUser" placeholder="Username">
                    <div id="joinRoomButtonHolder"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="joinRoomClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>