<div class="row justify-content-center">
    <div class="col">
        <h1 class="text-center"><strong>Virtual Couch</strong></h1>
        <p class="text-center">WATCH WITH YOUR FRIENDS</p>
    </div>
</div>