<%= content_for :includes do %>
<% end %>

<div
  id="room_messages" 
  data-channel-subscribe="room" 
  data-room-id="<%= @room.id %>" hidden>
</div>

<div
  id="user_id" 
  title="<%= @user.id %>" hidden>
</div>

<button id='clickme'>Click Me</button>
<div id="player"></div>

<input type="text" id="fname" placeholder="Youtube Link"><br>
<button type="button" onclick="changeVideo()">Submit</button>

<!--javascript_tag "window.initializeVideo()"-->
<script>initializeVideo()</script>