<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
        <link rel="stylesheet" href="videoShare.css">
    </head>
    <body>
        <p>This is an example of a simple HTML page with one paragraph.</p>
		<iframe width="1920" height="1080" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </body>
</html>