<% content_for :includes do %>
    <%= stylesheet_link_tag "scene1" %>
    <%= javascript_pack_tag 'createRoom' %>
<% end %>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-center" style="height: 75vh">
            <%= image_tag("Logo2.svg", :height => "100%") %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center"><strong>Virtual Couch</strong></h1>
            <p class="text-center">WATCH WITH YOUR FRIENDS</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <button class="btn py-3 px-5 mr-1" data-toggle="modal" data-target="#joinRoomModal">
                Join a Couch
            </button>
            <button class="btn py-3 px-5 ml-1" data-toggle="modal" data-target="#createRoomModal">
                Create a Couch
            </button>
        </div>
    </div>
    
    <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="username" placeholder="Youtube Link">
                    <div class="input-group-append">
                        <button id="changeVideo" class="btn" type="button">Change Video</button>
                    </div>                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Create Room</button>
                </div>
            </div>
        </div>
    </div>
</div>