<% content_for :includes do %>
    <%= stylesheet_link_tag "scene1" %>
    <%= javascript_pack_tag 'createRoom' %>
<% end %>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-center" style="height: 75vh">
            <%= image_tag("Logo2.svg", :height => "100%") %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center"><strong>Virtual Couch</strong></h1>
            <p class="text-center">WATCH WITH YOUR FRIENDS</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <button class="btn py-3 px-5 mr-1" href="https://maxbuttons.com/button-generator/">
                Join a Couch
            </button>
            <button class="btn py-3 px-5 ml-1" onclick="createRoom()">
                Create a Couch
            </button>
        </div>
    </div>
</div>