<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        
        <div class = "relative"><%=image_tag("Title.png", alt: "Title", width: "463", height: "162")%>
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#support">Support</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </body>
</html>