body {
    background: linear-gradient(0deg, rgba(25,0,190,1.00), rgba(110,90,207,1.00), rgba(175,167,167,1.00));
	font-family: source-sans-pro !important;
}
h1 {
	letter-spacing: 0.2rem;
}
h1, p {
	color: #edf0fa !important;
}
P {
	font-size: 1.15rem;
	letter-spacing: 0.05rem;
}
.main {
	background-color: rgb(75, 85, 198);
	border-width: 0.125rem !important;
	border-color: rgb(80, 90, 199) !important;
	box-shadow: rgb(51, 51, 51) 0 0 0.125rem 0;
	color: white;
	border-radius: 1rem !important;
	font-size: 1.25rem !important;
}
.main:hover {
	background-color: white !important;
	color: rgb(75, 85, 198) !important;
}
#main-logo {
	height: 75vh;
}

#overlay {
	position:absolute;
	background-color: rgb(99, 97, 97);
	opacity: 0.5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
	z-index: 3;
	visibility: hidden;
}